body {
    margin: 0;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
}

.header,
.hero {
    background-color: #1f2937;
}


.header {
    display: flex;
    padding: 20px 150px;
    justify-content: space-between;
    align-items: center;
}

.links a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    margin: 8px;
}

.header img {
    width: 40px;
}

.logo {
    color: #f0faf8;
    font-size: 24px;
    display: flex;
    align-items: center;
}